<section id="sectionall">
  <h1>All Records</h1>
  <%= link_to "新投稿", new_feed_path, class: 'btn btn-success' %>
</section>
  <body>
    <% @feeds.each do |feed| %>
      <div class="contents">
        <div id="image">
          <%= image_tag feed.image.to_s %>
        </div>
        <div id="posts">
          <%= "投稿者:"%><%=feed.user.name %>
          <br>
          <%= "コメント:"%><%= feed.content %>
          <br>
          <%= link_to 'Show', feed, class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  </body>
