<section id="sectionall">
  <h1>All Records</h1>
  <%= link_to "新規投稿", new_feed_path, class: 'btn btn-success' %>
</section>
  <body>
      <% @feeds.each do |feed| %>
 　　　　　<div class="contents">
 　　　　　<div id="image">
          <%= image_tag feed.image.to_s %>
          </div>
          <div id="posts">
          <br>
          <%= "投稿者:"%><%=feed.user.name %>
          <br>
          <%= link_to 'Show', feed %>
          <br>
          <%= link_to 'Edit', edit_feed_path(feed) =%>
          <br>
          <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
          <%= "コメント:"%><%= feed.content %>
          </div>
          </div>
      <% end %>
  </body>
